
.case
{
	
		border:2px solid white ;
		margin-top:5px;
		background-color: #03DAC6;
		border-radius: 30px;
		padding-left:10px;
		padding-top:5px;
		padding-bottom:5px;
		margin-left:5px;
		margin-right:5px;
}

body
{
	background-color: skyblue;
}

input
{   
	position:relative;
	left:355px;
	bottom:65px;
	border-radius: 50px;
	height:50px;
	width:50px;
	font-size: 30px;
	padding-bottom: 10px;
	margin-left:5px;

}

#debut
{
  display:inline-block;
}